{
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "html"
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
