@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .use-shadow {
    @apply shadow-[0_0_15px] shadow-my-purple dark:shadow-my-pink;
  }
  .use-shadow-bright {
    @apply shadow-[0_0_54px] shadow-my-purple dark:shadow-my-pink;
  }
  .use-outline {
    @apply outline-none outline-1 outline-my-purple/75;
  }
  .use-no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
  .use-no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari, Chrome */
  }
}
