PORT=8082

NEXT_PUBLIC_DEBUG=false

API_ENDPOINT=http://localhost:8080
NEXT_PUBLIC_API_ENDPOINT=https://api.example.com

# DO NOT ADD SECRETS TO THIS FILE.

NEXT_PUBLIC_MAX_VIDEO_BITRATE_KBPS=900
NEXT_PUBLIC_SOUND_ACCEPT=audio/*
NEXT_PUBLIC_VIDEO_ACCEPT=.avi, .flv, .wmv, .mp4, .mov,.mkv
NEXT_PUBLIC_IMAGE_ACCPET=.jpeg, .jpg, .png
NEXT_PUBLIC_MAXIMUM_SIZE_UPLOAD_IMAGE=2
NEXT_PUBLIC_MAXIMUM_SIZE_UPLOAD_SOUND=5
NEXT_PUBLIC_MAXIMUM_SIZE_UPLOAD_VIDEO=20
NEXT_PUBLIC_MAXIMUM_SIZE_UPLOAD_FILE=20