HTTP_PORT=8080
TOKEN_SECRET=1213456
MONGO_URI=mongodb://localhost/xcams-v3

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=xcams_db
REDIS_PREFIX=bee_queue

# Use for seed and some features
DOMAIN=xcams.info
BASE_URL=https://api.example.com
USER_URL=https://example.com

# parallel job to send email, min = 1, max should be num of CPUR core
MAILER_CONCURRENCY=2

TEMPLATE_DIR=templates
